# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Docker
# -----------------------------
docker-compose.yml
Dockerfile
.docker

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Static build artifacts
staticfiles/

# Environment files (DO NOT COPY INTO IMAGE)
.env
.env.*
.envs/
