name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DEBUG: ${{ secrets.DEBUG }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_HOST: db
      ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image with cache
        run: |
          docker buildx build \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            --tag recipe-api \
            --load \
            .

      - name: Run Django tests
        run: |
          docker compose run --rm app sh -c \
          "python manage.py wait_for_db && \
           python manage.py migrate && \
           python manage.py test"

      - name: Run lint
        run: docker compose run --rm app flake8
